<div class="d-flex p-3 px-5 justify-content-between align-items-center bg-primary-900 text-white">
    <p class="mb-0">Working Time: Mon - Thus 9.00 AM - 5.00 PM</p>
    <div class="d-flex gap-3">
        <div class="d-flex gap-3 align-items-center">
            <img src="img/Email.svg" alt="email" />
            <p class="mb-0">info@housefix.gmail.com</p>
        </div>
        <div class="d-flex gap-3 align-items-center">
            <img src="img/Telepon.svg" alt="telepon" />
            <p class="mb-0">082140363716</p>
        </div>
    </div>
    <div class="social d-flex gap-2 align-items-center">
        <a href=""><img src="img/Social-facebook-1.svg" alt="fb" /></a>
        <a href=""><img src="img/Social-Instagram.svg" alt="ig" /></a>
        <a href=""><img src="img/Social-Whatsapp.svg" alt="wa" /></a>
        <a href=""><img src="img/Social-twitter.svg" alt="tw" /></a>
    </div>
</div>