<section class="hero d-flex align-items-center vh-100">
    <div class="container d-flex align-items-center">
        <div class="text-white gap-2">
            <h1>Plumbing Experts Right at Your Doorstep</h1>
            <p>Our plumbers are the most recognized professionals globally because we’re committed to excellent service, and nothing wears on homeowners like the idea of handling plumbing problems.</p>
            <div class="d-flex gap-3">
                <button class="btn btn-primary">Request a Job Estimate</button>
                <button class="btn btn-outline-primary text-white">Pricing Plans</button>
            </div>
        </div>
        <img class="vh-100" src="img/Image-Container.svg" alt="people object" />
    </div>
</section>