<nav>
    <div class="d-flex p-3 px-5 justify-content-between align-items-center">
        <div class="logo">
            <img src="img/Logo.svg" alt="Logo HouseFix" />
        </div>
        <div class="d-flex gap-5 align-items-center">
            <ul class="d-flex gap-3 mb-0 list-unstyled">
                <li><a class="nav-link text-primary-900 text-decoration-none" href="home">Home</a></li>
                <li class="dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown">Blog</a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="#">Artikel</a></li>
                        <li><a class="dropdown-item" href="#">Berita</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a class="nav-link text-primary-900 dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown">Pages</a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="#">Artikel</a></li>
                        <li><a class="dropdown-item" href="#">Berita</a></li>
                    </ul>
                </li>
                <li><a class="nav-link text-primary-900 text-decoration-none" href="contactus">Contact Us</a></li>
            </ul>
            <div class="btn btn-primary">Schedule a Call</div>
        </div>
    </div>
</nav>