<!-- Navbar -->
<nav class="navbar navbar-expand-lg bg-white py-3 shadow-sm w-100">
    <div class="container">
        <a class="navbar-brand" href="#">
            <img src="img/Logo.svg" alt="Logo" height="45">
        </a>

        <button 
            class="navbar-toggler border-0" 
            type="button" 
            data-bs-toggle="collapse" 
            data-bs-target="#navbarMenu"
            aria-controls="navbarMenu" 
            aria-expanded="false" 
            aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse mt-3 mt-lg-0" id="navbarMenu">
            <ul class="navbar-nav mx-auto gap-lg-4 text-center text-lg-start">
                <li class="nav-item">
                    <a class="nav-link fw-medium" href="#">Home</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle fw-medium" href="#" data-bs-toggle="dropdown">Blog</a>
                    <ul class="dropdown-menu text-center text-lg-start">
                        <li><a class="dropdown-item" href="#">Artikel</a></li>
                        <li><a class="dropdown-item" href="#">Berita</a></li>
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle fw-medium" href="#" data-bs-toggle="dropdown">Pages</a>
                    <ul class="dropdown-menu text-center text-lg-start">
                        <li><a class="dropdown-item" href="#">Artikel</a></li>
                        <li><a class="dropdown-item" href="#">Berita</a></li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a class="nav-link fw-medium" href="#">Contact Us</a>
                </li>
            </ul>
            <div class="text-center text-lg-start mt-3 mt-lg-0">
                <a href="#" class="btn btn-primary w-100 w-lg-auto">Schedule a Call</a>
            </div>
        </div>
    </div>
</nav>