<section class="partners py-5 bg-light">

    <div class="container">

        <div class="text-center text-lg-start mb-5">

            <a class="nav-link text-primary fw-bold mb-2" href="#">
                Worked With
            </a>

            <h2 class="fw-bold">
                Our Partners
            </h2>

        </div>

        <div class="row g-4 justify-content-center align-items-center text-center">

            <div class="col-6 col-sm-4 col-md-3 col-lg-2">
                <img src="img/Partners/slack.svg" class="img-fluid partner-logo" alt="">
            </div>

            <div class="col-6 col-sm-4 col-md-3 col-lg-2">
                <img src="img/Partners/woocommerce.svg" class="img-fluid partner-logo" alt="">
            </div>

            <div class="col-6 col-sm-4 col-md-3 col-lg-2">
                <img src="img/Partners/sitepoint.svg" class="img-fluid partner-logo" alt="">
            </div>

            <div class="col-6 col-sm-4 col-md-3 col-lg-2">
                <img src="img/Partners/paypal.svg" class="img-fluid partner-logo" alt="">
            </div>

            <div class="col-6 col-sm-4 col-md-3 col-lg-2">
                <img src="img/Partners/netflix.svg" class="img-fluid partner-logo" alt="">
            </div>

            <div class="col-6 col-sm-4 col-md-3 col-lg-2">
                <img src="img/Partners/medium.svg" class="img-fluid partner-logo" alt="">
            </div>

            <div class="col-6 col-sm-4 col-md-3 col-lg-2">
                <img src="img/Partners/amazon.svg" class="img-fluid partner-logo" alt="">
            </div>

            <div class="col-6 col-sm-4 col-md-3 col-lg-2">
                <img src="img/Partners/adobe.svg" class="img-fluid partner-logo" alt="">
            </div>

        </div>

    </div>

</section>

<script>
function initPartners() {
  const logos = document.querySelectorAll('.partner-logo');
  logos.forEach(logo => {
    logo.style.opacity = '0.7';
    logo.style.transition = 'all 0.3s ease';
    logo.addEventListener('mouseover', () => {
      logo.style.opacity = '1';
      logo.style.transform = 'scale(1.08)';
    });
    logo.addEventListener('mouseout', () => {
      logo.style.opacity = '0.7';
      logo.style.transform = 'scale(1)';
    });
  });
}
initPartners();
</script>