<section class="partners py-5 bg-light">
    <div class="container text-center">
        <div class="text-start mb-4">
            <a class="nav-link text-primary fw-bold mb-1" href="#">Worked With</a>
            <h2 class="fw-bold">Our Partners</h2>
        </div>
        <div class="row g-4 align-items-center justify-content-center">
            <div class="col-md-2"><img src="img/Partners/slack.svg" alt="Slack" class="img-fluid"></div>
            <div class="col-md-2"><img src="img/Partners/woocommerce.svg" alt="WooCommerce" class="img-fluid"></div>
            <div class="col-md-2"><img src="img/Partners/sitepoint.svg" alt="Sitepoint" class="img-fluid"></div>
            <div class="col-md-2"><img src="img/Partners/paypal.svg" alt="PayPal" class="img-fluid"></div>
            <div class="col-md-2"><img src="img/Partners/netflix.svg" alt="Netflix" class="img-fluid"></div>
            <div class="col-md-2"><img src="img/Partners/medium.svg" alt="Medium" class="img-fluid"></div>
            <div class="col-md-2"><img src="img/Partners/amazon.svg" alt="Amazon" class="img-fluid"></div>
            <div class="col-md-2"><img src="img/Partners/adobe.svg" alt="Adobe" class="img-fluid"></div>
        </div>
    </div>
</section>