<section class="recentWorks py-5 bg-light">
    <div class="container">
        <div class="text-center mb-5">
            <a class="nav-link text-primary fw-bold mb-2" href="#">Featured Projects</a>
            <h1 class="fw-bold mb-4">Our Recent Works</h1>
            <div class="d-flex justify-content-center align-items-center gap-3 flex-wrap">
                <span class="fw-bold">All Projects</span>
                <span class="fw-bold">Commercial Services</span>
                <span class="fw-bold">Residential Services</span>
                <span class="fw-bold">Emergency Services</span>
            </div>
        </div>
        <div class="container">
            <div class="row g-4">
                <div class="col-md-4"><img src="img/Recent Works/Image-Container.jpg" class="img-fluid rounded" alt=""></div>
                <div class="col-md-4"><img src="img/Recent Works/Image-Container-1.jpg" class="img-fluid rounded" alt=""></div>
                <div class="col-md-4"><img src="img/Recent Works/Image-Container-2.jpg" class="img-fluid rounded" alt=""></div>
                <div class="col-md-4"><img src="img/Recent Works/Image-Container-3.jpg" class="img-fluid rounded" alt=""></div>
                <div class="col-md-4"><img src="img/Recent Works/Image-Container-4.jpg" class="img-fluid rounded" alt=""></div>
                <div class="col-md-4"><img src="img/Recent Works/Image-Container-5.jpg" class="img-fluid rounded" alt=""></div>
            </div>
        </div>
    </div>
</section>