<section class="recentWorks py-5 bg-light">

    <div class="container">

        <div class="text-center mb-5">

            <a class="nav-link text-primary fw-bold mb-2" href="#">
                Featured Projects
            </a>

            <h1 class="fw-bold mb-4">
                Our Recent Works
            </h1>

            <div class="d-flex flex-wrap justify-content-center gap-3">

                <span class="fw-bold">All Projects</span>
                <span class="fw-bold">Commercial Services</span>
                <span class="fw-bold">Residential Services</span>
                <span class="fw-bold">Emergency Services</span>

            </div>

        </div>

        <div class="row g-4">

            <div class="col-12 col-sm-6 col-lg-4">
                <img src="img/Recent Works/Image-Container.jpg" class="img-fluid rounded recent-img" alt="">
            </div>

            <div class="col-12 col-sm-6 col-lg-4">
                <img src="img/Recent Works/Image-Container-1.jpg" class="img-fluid rounded recent-img" alt="">
            </div>

            <div class="col-12 col-sm-6 col-lg-4">
                <img src="img/Recent Works/Image-Container-2.jpg" class="img-fluid rounded recent-img" alt="">
            </div>

            <div class="col-12 col-sm-6 col-lg-4">
                <img src="img/Recent Works/Image-Container-3.jpg" class="img-fluid rounded recent-img" alt="">
            </div>

            <div class="col-12 col-sm-6 col-lg-4">
                <img src="img/Recent Works/Image-Container-4.jpg" class="img-fluid rounded recent-img" alt="">
            </div>

            <div class="col-12 col-sm-6 col-lg-4">
                <img src="img/Recent Works/Image-Container-5.jpg" class="img-fluid rounded recent-img" alt="">
            </div>

        </div>

    </div>

</section>