<section class="services py-5">

    <div class="container">

        <div class="text-center mb-5">

            <a class="nav-link" href="#">
                Services We Provide
            </a>

            <h1>
                The Best Plumbing Service & Maintenance
            </h1>

        </div>

        <div class="row g-4">

            <!-- Card 1 -->
            <div class="col-12 col-md-6 col-xl-4">

                <div class="service-item h-100">

                    <img src="img/Service & Maintance/Image-Container.svg" class="img-fluid w-100" alt="">

                    <div class="p-4">

                        <img class="mb-3" src="img/Service & Maintance/Icon/Icon.svg" alt="">

                        <h2>Plumbing Installation</h2>

                        <p>
                            Lorem ipsum dolor sit amet consectetur adipisicing elit.
                        </p>

                        <a class="nav-link" href="">
                            Learn More
                        </a>

                    </div>

                </div>

            </div>

            <!-- Card 2 -->
            <div class="col-12 col-md-6 col-xl-4">

                <div class="service-item h-100">

                    <img src="img/Service & Maintance/Image-Container-1.svg" class="img-fluid w-100" alt="">

                    <div class="p-4">

                        <img class="mb-3" src="img/Service & Maintance/Icon/Icon.svg" alt="">

                        <h2>Plumbing Installation</h2>

                        <p>
                            Lorem ipsum dolor sit amet consectetur adipisicing elit.
                        </p>

                        <a class="nav-link" href="">
                            Learn More
                        </a>

                    </div>

                </div>

            </div>

            <!-- Card 3 -->
            <div class="col-12 col-md-6 col-xl-4">

                <div class="service-item h-100">

                    <img src="img/Service & Maintance/Image-Container-2.svg" class="img-fluid w-100" alt="">

                    <div class="p-4">

                        <img class="mb-3" src="img/Service & Maintance/Icon/Icon.svg" alt="">

                        <h2>Plumbing Installation</h2>

                        <p>
                            Lorem ipsum dolor sit amet consectetur adipisicing elit.
                        </p>

                        <a class="nav-link" href="">
                            Learn More
                        </a>

                    </div>

                </div>

            </div>

            <!-- Card 4 -->
            <div class="col-12 col-md-6 col-xl-4">

                <div class="service-item h-100">

                    <img src="img/Service & Maintance/Image-Container-3.svg" class="img-fluid w-100" alt="">

                    <div class="p-4">

                        <img class="mb-3" src="img/Service & Maintance/Icon/Icon.svg" alt="">

                        <h2>Plumbing Installation</h2>

                        <p>
                            Lorem ipsum dolor sit amet consectetur adipisicing elit.
                        </p>

                        <a class="nav-link" href="">
                            Learn More
                        </a>

                    </div>

                </div>

            </div>

            <!-- Card 5 -->
            <div class="col-12 col-md-6 col-xl-4">

                <div class="service-item h-100">

                    <img src="img/Service & Maintance/Image-Container-4.svg" class="img-fluid w-100" alt="">

                    <div class="p-4">

                        <img class="mb-3" src="img/Service & Maintance/Icon/Icon.svg" alt="">

                        <h2>Plumbing Installation</h2>

                        <p>
                            Lorem ipsum dolor sit amet consectetur adipisicing elit.
                        </p>

                        <a class="nav-link" href="">
                            Learn More
                        </a>

                    </div>

                </div>

            </div>

            <!-- Card 6 -->
            <div class="col-12 col-md-6 col-xl-4">

                <div class="service-item h-100">

                    <img src="img/Service & Maintance/Image-Container-5.svg" class="img-fluid w-100" alt="">

                    <div class="p-4">

                        <img class="mb-3" src="img/Service & Maintance/Icon/Icon.svg" alt="">

                        <h2>Plumbing Installation</h2>

                        <p>
                            Lorem ipsum dolor sit amet consectetur adipisicing elit.
                        </p>

                        <a class="nav-link" href="">
                            Learn More
                        </a>

                    </div>

                </div>

            </div>

        </div>

    </div>

</section>

<script>
function initServices() {
  const serviceSection = document.querySelector('.services');
  const serviceItems = document.querySelectorAll('.service-item');
  let isAnimated = false;

  serviceItems.forEach(item => {
    item.style.opacity = '0';
    item.style.transform = 'translateY(30px)';
    item.style.transition = 'all 0.6s ease';
  });

  function checkScroll() {
    if (isAnimated) return;
    const sectionPos = serviceSection.getBoundingClientRect().top;
    const screenHeight = window.innerHeight;

    if (sectionPos < screenHeight - 100) {
      isAnimated = true;
      serviceItems.forEach((item, index) => {
        setTimeout(() => {
          item.style.opacity = '1';
          item.style.transform = 'translateY(0)';
        }, index * 120);
      });
    }
  }

  window.addEventListener('scroll', checkScroll);
  checkScroll();

  serviceItems.forEach(item => {
    item.addEventListener('mouseover', () => {
      item.style.transform = 'translateY(-8px)';
      item.style.boxShadow = '0 10px 25px rgba(0,0,0,0.1)';
    });
    item.addEventListener('mouseout', () => {
      item.style.transform = 'translateY(0)';
      item.style.boxShadow = 'none';
    });
  });
}
initServices();
</script>